@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
  background-color: #fafafa;
}

.panel-bg {
  height: 5.938rem;
  margin: 0 0 2.375rem;
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
  background-color: #fff;
  border: solid 1px #e8e8e8;
}

.Bookstore-CMS {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  text-decoration: none;
  color: #0290ff;
}

.Lesson-Panel {
  height: 10.625rem;
  margin: 2.313rem 6.25rem 0;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.cont-width {
  width: 80%;
}

.user-icon {
  color: #0290ff;
  font-size: xx-large;
}

.book {
  padding-top: 0.5rem;
  padding-left: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.813rem;
  letter-spacing: 1.9px;
  color: #121212;
}

.categories {
  padding-top: 0.5rem;
  padding-left: 1.4rem;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.813rem;
  letter-spacing: 1.9px;
  color: #121212;
}

.Oval-2 {
  width: 4.25rem;
  height: 4.25rem;
  border-style: solid;
  border-width: 5px;
  border-image-source: linear-gradient(to bottom, #307bbe, #379cf6);
  border-image-slice: 1;
}

.Rectangle-3 {
  width: 5.625rem;
  height: 5.62rem;
  padding: 0.62rem 0.625rem 0.75rem 0.75rem;
}

.-Percent-Complete {
  width: 4.25rem;
  height: 2.438rem;
  margin: 0.063rem 5.75rem 0 0.688rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #121212;
}

.Completed {
  width: 5rem;
  height: 1.125rem;
  margin: 0.438rem 4.938rem 0.75rem 0.75rem;
  opacity: 0.5;
  font-family: 'Montserrat', serif;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.Line-2 {
  width: 0.125rem;
  height: 4.375rem;
  margin: 1.125rem 3.688rem 0 4.938rem;
  border: solid 1px #e8e8e8;
}

.Current-Chapter {
  margin: 0.063rem 3.625rem 0 3.688rem;
  opacity: 0.5;
  font-family: 'Roboto Slab', serif;
  font-size: 0.813rem;
  font-weight: 300;
  color: #121212;
}

.Current-Lesson {
  margin: 0.438rem 6.813rem 0.25rem 3.688rem;
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: -0.4px;
  color: #121212;
}

.Rectangle-2 {
  margin: 0.75rem 0 0.563rem 3.688rem;
  border-radius: 3px;
  background-color: #0290ff;
}

.Update-progress {
  font-family: 'Roboto Slab', serif;
  font-size: 0.813rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
}

.Title {
  padding-left: 1rem;
  font-family: 'Roboto Slab', serif;
  font-size: 1.375rem;
  font-weight: bold;
  letter-spacing: -0.2px;
  color: #121212;
}

.School-of {
  padding-left: 1rem;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  color: #121212;
}

.author {
  padding-left: 1rem;
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
}

.button {
  padding-left: 1rem;
  border: none;
  color: #4386bf;
  background-color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.form-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  letter-spacing: -0.18px;
  color: var(--warm-grey);
}

.add-book {
  width: 100%;
}
